.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
}
.logo {
  width: 200px;
}
.nav-items > ul {
  display: flex;
  list-style-type: none;
}
.nav-items > ul > li {
  margin: 20px;
  font-size: 24px;
}
.res-container {
  display: flex;
  gap: 22px;
  flex-wrap: wrap;
}
.res-card {
  width: 200px;
  padding: 5px;
  margin: 10px;
  display: grid;
  background: #f0f0f0;
  text-align: center;
}
.res-card:hover {
  border: 1px solid black;
  cursor: pointer;
}
.search {
  padding: 10px;
}
.res-logo {
  width: 100%;
  overflow: hidden;
  border-radius: 16px;
}
.filter-btn {
  padding: 15px;
  margin: 10px;
  background-color: #0066cc;
  cursor: pointer;
  color: #ffffff;
  border: 1px solid #0066cc;
  border-radius: 25px;
}
.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}
.shimmer-card {
  width: 200px;
  height: 400px;
  padding: 5px;
  background: #f0f0f0;
  margin: 10px;
  display: grid;
}
